<!--
 * @Author: your name
 * @Date: 2020-12-11 13:23:40
 * @LastEditTime: 2020-12-11 14:44:08
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /beeapi/views/diagram.html
-->
{{template "base/base.html" .}}
{{define "head"}}
<title>{{i18n .Lang "longpolling_chatroom"}} - {{i18n .Lang "app_intro"}}</title>
{{end}}
{{define "body"}}
<div id="container" style="width: 1000px; height: 700px; margin: 0 auto"></div>
<script language="JavaScript">
$(document).ready(function() {
   var title = {
      text: '城市平均气温'   
   };
   var subtitle = {
      text: 'Source: runoob.com'
   };
   var xAxis = {
      categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
         'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec','Jan1', 'Feb1', 'Mar1', 'Apr1', 'May1', 'Jun1',
         'Jul1', 'Aug1', 'Sep1', 'Oct1', 'Nov1', 'Dec1','Jan2', 'Feb2', 'Mar2', 'Apr2', 'May2', 'Jun2',
         'Jul2', 'Aug2', 'Sep2', 'Oct2', 'Nov2', 'Dec2']
   };
   var yAxis = {
      title: {
         text: 'Temperature (\xB0C)'
      },
      plotLines: [{
         value: 0,
         width: 1,
         color: '#808080'
      }]
   };   

   var tooltip = {
      valueSuffix: '\xB0C'
   }

   var legend = {
      layout: 'vertical',
      align: 'right',
      verticalAlign: 'middle',
      borderWidth: 0
   };

   var series =  [
    //   {
    //      name: 'Tokyo',
    //      data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2,
    //         26.5, 23.3, 18.3, 13.9, 9.6]
    //   }, 
    //   {
    //      name: 'New York',
    //      data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8,
    //         24.1, 20.1, 14.1, 8.6, 2.5]
    //   },
      {
         name: 'London',
         data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 
            16.6, 14.2, 10.3, 6.6, 8.8, 3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 
            16.6, 14.2, 10.3, 6.6, 5.8, 3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 
            16.6, 14.2, 10.3, 6.6, 7.9]
      }
   ];

   var json = {};

   json.title = title;
   json.subtitle = subtitle;
   json.xAxis = xAxis;
   json.yAxis = yAxis;
   json.tooltip = tooltip;
   json.legend = legend;
   json.series = series;

   $('#container').highcharts(json);
});
</script>
{{end}}
